.world {
  height: var(--relative-size-world);
}

.world-container-header {
  padding-top: var(--top-space);

  display: flex;
  justify-content: center;
}

.world-header-fall {
  margin-top: calc(100vh - var(--top-space) - var(--relative-size-lever) - 5.5vh);
  transition: all 1s ease-in;
  visibility: hidden;
}

.world-header-rise {
  margin-top: var(--world-margin-top);
  transition: margin 0.9s ease-in-out 0.1s;
  visibility: visible;
}

.world-container-footer {
  /* display: flex; */
  margin-bottom: calc(var(--relative-size-lever) + 1.6vh);
  /* position: absolute; */
  /* justify-content: center; */
}

.world-container-footer-hidden {
  visibility: hidden;
  transition-delay: 0.1s;
}

.world-container-footer-visible {
  visibility: visible;
  transition-delay: 1s;
}
