.footer-container {
  position: absolute;
  /* height: calc(var(--top-space) + var(--relative-size-lever)); */
  overflow: hidden;
  width: 100%;

  /* not sure why this is necessary... */
  bottom: 0;
  left: 0;

  /* for the quote */
  text-align: center;

  /* for the platform and world */
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: center;
}
