.header-clickable-container {
  cursor: pointer;
  /* margin-top: -2.25vh; */
  height: var(--top-space);
  width: var(--relative-size-lever);
  position: absolute;
  z-index: 1;
}

.header-container {
  /* height: 100%; */
  width: var(--relative-size-lever);
  /* z-index: 0; */
  /* margin-top: 8vh; */
  /* position: absolute; */

  /* display: flex;
  justify-content: center; */
}
