p {
  margin: auto;
}

.quote {
  position: fixed;
  font-size: 2.25vmax;
  line-height: 2.5vmax;
  transition: all 1s ease-in-out;
}

.quote-hide {
  visibility: hidden;
  bottom: -20vh;
}

.quote-show {
  visibility: visible;
  bottom: var(--top-space);
}

.quote-text {
  margin-bottom: 1vmin;
}
