.quote {
  position: fixed;
  left: 0;
  right: 0;
  font-size: 2.25vmax;
  margin-left: auto;
  transition: all 1s ease-in-out;
}

.quote-hide {
  visibility: hidden;
  bottom: -20%;
}

.quote-show {
  visibility: visible;
  bottom: 3%;
}
