.lever {
  width: var(--relative-size-lever);
}

.lever-container {
  /* margin-right: auto;
  margin-left: auto; */
  /* position: absolute; */
  /* height: 100%; */
}

.lever-footer {
  /* margin-top: 80.7vh; */
  /* left: 0;
  right: 0;
  margin-left: auto; */
  top: 0;
  position: absolute;
  transform: rotate(0deg);
  transition: all 1s ease-in;
}

.lever-header {
  top: calc(100% - var(--top-space));
  position: absolute;
  transform: rotate(180deg);
  transition: all 1s ease-in-out;
}
