:root {
  --platform-size: 25vh;
  --relative-size-world: calc((var(--platform-size))/8.8);
  --relative-size-lever: calc((var(--platform-size))/2);
}

.give-me-a-lever-container {
  bottom: 0;
  /* max-height: 20vh; */
  position: fixed;
  text-align: center;
  width: 100%;
}

.give-me-a-lever-object {
  line-height: 0;
}

.overlap {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upright {
  transform: rotate(180deg);
}

.world {
  width: var(--relative-size-world);
}

.platform {
  width: var(--platform-size);
}

.lever {
  width: var(--relative-size-lever);
}
