:root {
  --platform-size: 27vw;
  --relative-size-world: calc((var(--platform-size))/8.8);
  --relative-size-lever: calc((var(--platform-size))/1.8);
}

.give-me-a-lever-object {
  line-height: 0;
  /* margin-top: 5px; */
}

.world {
  width: var(--relative-size-world);
  /* min-width: var(--relative-size-world); */
}

.platform {
  width: var(--platform-size);
  /* min-width: var(--platform-size); */
}

.lever {
  width: var(--relative-size-lever);
  /* min-width: var(--relative-size-lever); */
}
