*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: white;
  color: #0098aa;
  font-family: sans-serif;
  font-family: 'Poppins', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
