/* set width, height, & min/max properties to include content, padding, & border */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* remove default margin */
html, body {
  height: 100%;
  margin: 0;
}

#progress {
  width: 100%;
  height: 100%;
  color: #0098aa;
  font-family: 'Poppins', Helvetica, sans-serif;
  /* overflow: hidden; */
  position: absolute;
}
