@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.hint {
  top: 1vmin;
  right: 1vmin;
  opacity: 0;
  margin: 0;
  width: 40vw;
  position: fixed;
  font-size: 2vmax;
  line-height: 2vmax;
  text-align: right;
  animation: fadeIn 2s linear 3s alternate infinite;
}
