a {
  color: #016a77;
}

.content-container {
  /* width: 300vw; */
  height: 100%;
  max-height: 100%;
  padding: 25vh 0;
  z-index: 0;

  display: flex;
  justify-content: center;
}

.definition {
  margin: 7vmin 0;
  text-align: left;
  line-height: 1.2;
  font-size: 2.25vmax;
  line-height: 2.25vmax;
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-light {
  font-weight: 300;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-semibold {
  font-weight: 600;
}

.footer-links {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

h1 {
  margin: 0;
  font-size: 6vmax;
  line-height: 6vmax;
}

h2 {
  margin: 0;
  padding-bottom: 5vh;
  font-size: 4vmax;
  line-height: 4vmax;
}

.link {
  text-align: left;
  margin: 0 1.5vmin 3vmin;
  font-size: 2.25vmax;
  line-height: 2.25vmax;
}

.no-margin-line {
  margin: 0;
}

.side-view-paragraph {
  width: 100%;
  padding-bottom: 2vh;
  text-align: left;
  font-family: 'Helvetica Neue', Helvetica;
  font-size: 2.25vmax;
  line-height: 2.25vmax;
}

.view-container {
  height: 100%;
  max-height: 100%;
  text-align: center;
  padding: 0 7.5vw;
  width: 100vw;
  z-index: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}
