.headshot {
  border-radius: 50%;
  position: absolute;
}

.headshot-hidden {
  opacity: 0;
  visibility: hidden;
  margin-top: calc(var(--top-space) + var(--world-margin-top));
  height: var(--relative-size-world);
  transition: all 1s ease-in-out;
}

.headshot-visible {
  opacity: 1;
  visibility: visible;
  margin-top: var(--top-space);
  height: var(--relative-size-lever);
  transition: all 1s ease-in-out;
}
