.headshot-hidden {
  opacity: 0;
  visibility: hidden;
  margin-top: 1.5vh;
  border-radius: 50%;
  height: var(--relative-size-world);
  transition: all 1s ease-in-out;
}

.headshot-visible {
  opacity: 1;
  visibility: visible;
  margin-top: -2.1vh;
  height: 13vh;
  border-radius: 50%;
  transition: all 0.9s ease-in-out;
}

.headshot-container {
  visibility: hidden;
  border-radius: 50%;
}
