
.platform {
  bottom: 0;
  cursor: pointer;
  position: absolute;
  /* display: inline-block; */
  width: var(--platform-size);
}

/* .platform-container { */
  /* display: flex; */
  /* height: 100%; */
  /* width: var(--platform-size); */
  /* position: absolute; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* display: inline-block; */
/* } */

.platform-hide {
  visibility: hidden;
  margin-bottom: -10%;
  transition: all 1s ease-in-out;
}

.platform-show {
  bottom: 0;
  margin-bottom: calc(var(--top-space) - 0.2vh);
  visibility: visible;
  transition: margin 1s ease-in-out;
}
