.platform {
  cursor: pointer;
  display: inline-block;
  width: var(--platform-size);
}

.platform-hide {
  visibility: hidden;
  margin-bottom: -10vh;
  transition: all 1s ease-in-out;
}

.platform-show {
  margin-bottom: 11.3vh;
  visibility: visible;
  transition: margin 1s ease-in-out;
}
