:root {
  --platform-size: 25vh;
  --relative-size-world: calc((var(--platform-size))/8.8);
  --relative-size-lever: calc((var(--platform-size))/2);
  --top-space: 11.5vh;
}

a {
  color: #016a77;
}

.content-container {
  width: 300vw;
  height: 100%;
  max-height: 100%;
  padding: 25vh 0;
  z-index: 0;

  display: flex;
  justify-content: center;
}

.definition {
  margin: 7vmin 0;
  text-align: left;
  line-height: 1.2;
  font-size: 2.25vmax;
  line-height: 2.25vmax;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-light {
  font-weight: 300;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-semibold {
  font-weight: 600;
}

.footer-links {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.gmal-container {
  position: fixed;
  text-align: center;
  line-height: 0;
  width: 100%;
  bottom: 0;
}

h1 {
  margin: 0;
  font-size: 6vmax;
  line-height: 6vmax;
}

h2 {
  margin: 0;
  padding-bottom: 5vh;
  font-size: 4vmax;
  line-height: 4vmax;
}

img {
  display: block;
}

.layout {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  /* flex: 1 100%; */
  /* justify-content: space-between; */
  align-items: center;
}

.lever {
  width: var(--relative-size-lever);
}

.lever-container {
  /* margin-right: auto;
  margin-left: auto; */
  /* position: absolute; */
  /* height: 100%; */
}

.lever-footer {
  /* margin-top: 80.7vh; */
  /* left: 0;
  right: 0;
  margin-left: auto; */
  top: 0;
  position: absolute;
  transform: rotate(0deg);
  transition: all 1s ease-in;
}

.lever-header {
  top: calc(100% - var(--top-space));
  position: absolute;
  transform: rotate(180deg);
  transition: all 1s ease-in-out;
}

.link {
  text-align: left;
  margin: 0 1.5vmin 3vmin;
  font-size: 2.25vmax;
  line-height: 2.25vmax;
}

.motion-container {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.no-margin-line {
  margin: 0;
}

.platform {
  cursor: pointer;
  display: inline-block;
  width: var(--platform-size);
}

.platform-hide {
  visibility: hidden;
  margin-bottom: -10vh;
  transition: all 1s ease-in-out;
}

.platform-show {
  margin-bottom: 11.3vh;
  visibility: visible;
  transition: margin 1s ease-in-out;
}

.quote {
  position: fixed;
  left: 0;
  right: 0;
  font-size: 2.25vmax;
  margin-left: auto;
  transition: all 1s ease-in-out;
}

.quote-hide {
  visibility: hidden;
  bottom: -20vh;
}

.quote-show {
  visibility: visible;
  bottom: 3vh;
}

.side-view-paragraph {
  width: 100%;
  padding-bottom: 2vh;
  text-align: left;
  font-family: 'Helvetica Neue', Helvetica;
  font-size: 2.25vmax;
  line-height: 2.25vmax;
}

.view-container {
  height: 100%;
  max-height: 100%;
  text-align: center;
  padding: 0 7.5vw;
  width: 100vw;
  z-index: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}
