:root {
  --platform-size: 25vh;
  --relative-size-world: calc((var(--platform-size))/8.8);
  --relative-size-lever: calc((var(--platform-size))/2);
}

img {
  display: block;
}

.give-me-a-lever-container {
  text-align: center;
  width: 100%;
}

.layout {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  flex: 1 100%;
  justify-content: space-between;
  align-items: center;
}

.lever {
  width: var(--relative-size-lever);
}

/* .lever-container-footer {} */

.lever-container-header {
  height: 100%;
}

.lever-footer {
  height: 100%;
}

.lever-header {
  position: relative;
  transform: rotate(180deg);
}

.motion-container {
  padding-top: 10vh;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.platform {
  width: var(--platform-size);
}

.vmp-logo {
  height: auto;
  padding-top: 10vh;
  position: relative;

  display: flex;
  justify-content: center;
}

.world {
  width: var(--relative-size-world);
}

.world-container-gmal {
  line-height: 0;
}

.world-container-vmp {
  position: absolute;
  padding-top: 1.5vh;
}

.world-footer {
  display: inline;
}

/*




h1 {
  font-weight: 700;
  color: #0098aa;
  font-size: 42px;
  line-height: 40px;
}

h2 {
  font-weight: 600;
  color: #0098aa;
  font-size: 36px;
  line-height: 40px;
}

h3 {
  font-weight: 500;
  color: #0098aa;
  font-size: 30px;
  line-height: 40px;
}

h4 {
  font-weight: 400;
  color: #0098aa;
  font-size: 24px;
  line-height: 20px;
}

h5 {
  font-weight: 300;
  color: #0098aa;
  font-size: 18px;
  line-height: 20px;
}

h6 {
  font-weight: 300;
  color: #0098aa;
  font-size: 14px;
  line-height: 20px;
}

a {
  color: #016a77;
}

.wrap {
  text-align: center;
  max-height: 75vh;
  max-width: 75vw;
  margin: 10vh;
}

.definition {
  text-align: left;
  max-width: 500px;
  padding: 5px;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.link {
  padding: 0px;
}

.fa {
  display: inline-block;
  font: normal normal normal 24px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.fa-envelope:before {
  content: "\f0e0"
}

.fa-linkedin:before {
  content: "\f0e1"
}

.fa-github:before {
  content: "\f09b"
}

.fa-twitter:before {
  content: "\f099"
}

.fa-file-text:before {
  content: "\f15c"
} */
